.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
.eslintrc.json
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
src/**
node_modules/**
**/webpack.config.js
**/*.vsix
设计图/**